PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/paisatap
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
BOT_USERNAME=PaisaTapBot
ADMIN_PASSWORD=PaisaTapAdmin123
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=paisatap_secret
